.banner-info {
 font-family: 'Share Tech Mono', monospace;
  // padding-left: 80px;
  font-size: 25px;
    color: #ffffff;
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}
