.big-box {
  display: flex
}

$black: #1b1e23;
$size: 300px;
$white: #f4eed7;
$feature : #4b9aaa;


#count-down p {
  color: $white;
  font-size: 0.8em;
  opacity: 0.75;
}

.clock {
  height: $size;
  width: $size;
  border-radius: #{$size / 2};
  display: flex;
  justify-content: center;
  position: relative;
  &__second,
  &__minute,
  &__hour, &__indicator {
    position: absolute;
    left: calc(50% - 1px);
    width: 2px;
    background: $white;
    transform-origin: bottom center;
    z-index: 2;
    border-radius: 1px;
  }
  &__second {
    height: #{($size / 2) - 10};
    margin-top: 10px;
    background: $feature;
    animation: time 60s infinite steps(60);
    z-index: 3;
  }
  &__minute {
    height: #{($size / 2) - 20};
    margin-top: 20px;
    opacity: 0.75;
    animation: time 3600s linear infinite;
  }
  &__hour {
    height: #{($size / 2) - 40};
    margin-top: 40px;
    animation: time 43200s linear infinite;
  }
  &__indicator {
    height: #{($size / 2) - 2};
    border-top: 2px solid $feature;
    background: none;
  }
  &__indicator:nth-of-type(5n) {
    opacity: 1;
    height: #{($size / 2) - 7};
    border-top: 7px solid $white;
  }
  &__axis {
    background: $feature;
    width: 5px;
    height: 5px;
    border-radius: 3px;
    position: absolute;
    z-index: 4;
    top: #{$size / 2 - 3};

  }
}

@for $i from 1 through 60 {
  section:nth-of-type(#{$i}) {
    transform: rotateZ(calc(6deg * #{$i}));
  }
}

@keyframes time {
  to {
    transform: rotateZ(360deg);
  }
}

#count-down{
  font-family: 'Share Tech Mono', monospace;
  padding-left: 280px;
  font-size: 25px;
    color: #ffffff;
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
    .time {
        letter-spacing: 0.05em;
        font-size: 80px;
        padding: 5px 0;
    }
    .date {
        letter-spacing: 0.1em;
        font-size: 24px;
    }
    .text {
        letter-spacing: 0.1em;
        font-size: 12px;
        padding: 20px 0 0;
    }
}

#video_overlays{
  display: flex;
  flex-direction: column;
}

// .is-hidden {
//   display: none;
// }
.video-chat-info {
  // justify-content: center;
}
.video-main-box {
  display: flex;
}
.video-left-box {
  width: 50%;
  margin: 10px;
}
.video-right-box {
  width: 50%;
  padding: 10px;
  .chat-header {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
  }
  .messages {
    width: 100%;

  }
  .message-content {
    font-size: 1.8rem;
  }
  #create-message {
    border-radius: 0px 0px 20px 20px;
    width: 100%;

  }

}
.chat-container {
  width: 100%;
}
.btn {
  background: #666;
  color: #fff;
  border-radius: 2px;
  display: inline-block;
  padding: 8px 15px;
  &:hover {
    cursor:pointer;
    background: #888;
  }
}
.chat-shadow {
  box-shadow: -12px 14px 5px 0px rgba(227,227,227,1);
  width: 80%;
  border-radius: 20px;
}


#local-video{
  border: 2px solid #6ECAD6;
  box-shadow: -15px 10px 12px 0px rgba(194,192,194,1);
  border-radius: 20px;
  width: 70%;
}


