.headers-text {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-left: 250px;
  margin-top: 250px;
  font-weight: 700;
  color: #FFFFFF;
  h2 {
    font-weight: 300;
    letter-spacing: 1px;
  }
  h1 {
    font-size: $font-size-h1;
  }
  .primary-button {
    margin-top: 8px;
  }
}

.homepage-content {
  background-size: cover;
  margin: 50px 0 0 0;
  h2 {
    text-align: center;
    margin: 0 0 50px 0;
  }
}

.carousel {
  margin: 50px 0 0 0;
  img {
    width: 100%;
  }
}

.justify-home-content-center {
  text-align: center;
}
