.profile-container{
  display: flex;
  margin: 0;
  margin-top: 60px;

  hr {
    margin: 0;
  }

  h3 {
    font-size: 16px;
    font-weight: 700;
  }

  .tables-left {
    display: flex;
    flex-direction: column;
    margin-left: 16px;


    .upcoming-table{
      display: flex;
      margin-top: 32px;
      flex-direction: column;

      .upcoming-table-title {
        display: flex;
        justify-content: space-around;
        font-weight: 700;
        padding: 32px 0;
        color: #FFFFFF;
        font-size: 24px;
        background-color: #6ECAD6;
      }

      .upcoming-description-row {
        display: flex;
        color: #FFFFFF;
        font-weight: 700;
        justify-content: space-around;
        padding: 25px 30px;
        background-color: #489099;
      }

      .upcoming-details {
        overflow-y: scroll;


        .upcoming-details-row {
          display: flex;
          font-size: 18px;
          background-color: #ffffff;
          justify-content: space-between;
          padding: 25px 30px;
          align-items: baseline;

          .avatar-therapist {
            width: 48px;
            margin-right: 4px;
          }

          .submit-status-button {
            font-family: $body-font;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            background-color: #6ECAD6;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
          }
        }
      }
    }

    .bottom-tables {
      display: flex;
      justify-content: space-between;

      .history-table {
        width: 48%;
        min-height: 40vh;
        font-weight: 700;
        margin: 10% 0;
        font-size: 24px;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);

        .history-title{
          display: flex;
          padding: 4px 0;
          justify-content: space-around;
          font-weight: 700;
          color: #FFFFFF;
          font-size: 24px;
          background-color: #6ECAD6;
        }

        .history-description-row {
          display: flex;
          justify-content: space-between;
          padding: 16px 8px;
          font-size: 1rem;
          background-color: #489099;
          color: #FFFFFF;
        }

        .history-details {
          overflow-y: scroll;
          height: 32vh;
        }

          .history-details-row {
            display: flex;
            justify-content: space-between;
            color: #000000;
            font-weight: 300;
            font-size: 18px;
            padding: 8px 4px;
            align-items: baseline;
          }
      }

      .reviews-table {
        width: 48%;
        min-height: 40vh;
        font-weight: 700;
        margin: 10% 0;
        font-size: 24px;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);

        .reviews-title{
          display: flex;
          padding: 4px 0;
          justify-content: space-around;
          font-weight: 700;
          color: #FFFFFF;
          font-size: 24px;
          background-color: #6ECAD6;
        }
      }
    }
  }
}

