hr {
  margin: 0;
}

.profile-container{
  display: flex;
  margin: 0;
  justify-content: space-evenly;
  margin: 32px 0;
  height: 100vh;

  .tables-box{
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 8px;
  }

  .tables-title-row {
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    padding: 16px 0;
    color: #FFFFFF;
    font-size: 18px;
    background-color: #6ECAD6;
  }

  .description-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: #FFFFFF;
    background-color: #489099;
    text-align: center;

  }

  .tables-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 8px;

    .upcoming-details {
      overflow-y: scroll;
      height: 68vh;

      .upcoming-details-row {
        font-size: 14px;
        background-color: #ffffff;
        padding: 10px 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;

        .upcoming-names {
          display: flex;
          flex-direction: column;
        }
        .user-avatar {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .tables-right {
    display: flex;
    flex-direction: column;
    width: 20%;

    .tables-box {
      margin-bottom: 30px;
      .tables-title-row {
        padding: 8px 0;
      }

      .description-row {
        grid-template-columns: 2fr 2fr;
      }

      // PROFILE TABLE

      .profile-details {
        height: 28vh;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        margin-bottom: 13px;

        .user-profile-avatar{
          width: 48px;
          height: 48px;
          display: block;
          margin: 8px auto;
        }

        .head-row {
          display: flex;
          flex-direction: column;
        }
      }

      // HISTORY TABLE
      .history-details {
        overflow-y: scroll;
        height: 30.5vh;
      }

      .history-details-row {
        font-size: 14px;
        background-color: #ffffff;
        padding: 10px 0;
        display: grid;
        grid-template-columns: 2fr 2fr;
        text-align: center;

        .history-labels {
          display: flex;
          align-items: center;
          text-align: center;
        }
      }
    }
  }
}



