.modal-card {
  height: 80%;
  width: 80%;
  background: white;
  // margin: 300px ;
}
.modal-body {
  // background: grey;
  padding: 0rem;
  .modal-banneri{
    background-size: cover;
    background-position: center;
    height: 265px;
  }
  .modal-therapist-avatar-container {
    border-radius: 100px;
    height: 200px;
    width: 200px;
    position: relative;
    top: -110px;
    border: solid white;
    left: 50px;
    object-fit: cover;
  }
  .modal-master-box {
    display: flex;
    margin-top: -130px;
    justify-content: space-between;
    .modal-user-show-book-btn{
      display: flex;
      justify-content: flex-end;
    }
    .modal-right-side {
      display: flex;
      flex-direction: column;
      margin: 45px 50px;
      width: 50%;
      h3 {
        display: flex;
        justify-content: flex-end;
      }
      .modal-user-show-book-btn{
        display: flex;
        text-align: center;
        a {
          text-decoration: none;
          margin-top: 6px;
          &:hover {
            color: white;
            background-color: #74d5e0;
          }
        }
        .primary-button-user-show {
        }
      }
    }
    .modal-container-reviews {
      overflow-y: scroll;
      width: 600px;
      box-shadow: -6px 6px 5px 0px #e3e3e3;
      border-radius: 10px;
      background-color: #f9f9f9;
      width: 400px;
      height: 300px;
      .modal-review-card {
        margin: 8px;
      }
      h4 span{
        color: #489099 ;
      // border-radius: 12px;
      // margin-top: 8px;
    }
    .tables-title-row {
      border-radius: 8px 8px 0 0;
      display: flex;
      justify-content: space-around;
      font-weight: 700;
      padding: 16px 0;
      color: #FFFFFF;
      font-size: 24px;
      background-color: #6ECAD6;
    }
  }
}
}
.modal-left-side{
  width: 50%;
  margin: 45px 12px 0px 50px;
  .modal-user-show-therapist-description {
    margin-bottom: 24px;
  }
}
.modal-user-show-expertise {
  display: flex;
  justify-content: space-around;
  width: 40%;
  border: 1px solid #CCCCCC;
  border-radius: 12px;
  margin: 4px;
  text-align: center;
  p {
   color: #CCCCCC;
   font-size: 18px;
   margin: 0 !important;
 }
}
.modal-user-show-therapist-languages {
  display: flex;
  justify-content: center;
  .modal-language {
    display: flex;
    justify-content: space-around;
    width: 40%;
    border: 1px solid #6ECAD6;
    border-radius: 12px;
    margin: 4px;
    text-align: center;
      // vertical-align: baseline;
      p {
        color: #6ECAD6;
        font-size: 18px;
        margin: 0 !important;
      }
    }
  }
