.banneri {
  background-size: cover;
  background-position: center;
  height: 350px;
}

.user-show-therapist-profile-avatar {
}

.user-show-master-container {
  display: flex;
  justify-content: space-between;
  .user-show-container {
    display: flex;
    background-color: white;
    height: 800px;
    padding: 50px 360px 50px 180px;
    width: 100%;
    .therapist-container {
      margin-top: 80px;
      width: 50%;
      display: flex;
      flex-direction: column;

    }
    .therapist-avatar-container {
      border-radius: 100px;
      height: 200px;
      width: 200px;
      position: relative;
      top: -150px;
      border: solid white;
      left: 200px;
    }

    .user-show-therapist-description {
      display: flex;
      width: 90%;
    }
    .user-show-therapist-address {
      color: gray;
    }
    .user-show-therapist-languages {
      display: flex;
      flex-direction: row;
      justify-content: center;
    .language-tag {
      border: solid 4px #74d5e0 ;
      border-radius: 12px;
      width: 30%;
      margin: 4px;
      }
    }
    .user-show-expertise {
      width: 20%;
      border: 2px solid #489099;
      border-radius: 12px;
      margin: 4px;
      text-align: center;
    }
  }
}
.tables-title-row {
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    padding: 32px 0;
    color: #FFFFFF;
    font-size: 24px;
    background-color: #6ECAD6;
  }
.therapist-reviews-container {
  height: 100%;
  width: 50%;

  .user-show-book-btn {
    display: flex;
    justify-content: flex-end;
    a {
      text-decoration: none;
    }
    a:hover {
      color: white;
      background-color: #74d5e0;
    }
    h3 {
      margin-right: 332px;
      margin-top: 10px;
    }
  }
  .container-reviews {
    overflow: scroll;
    margin-top: 40px;
    width: 600px;
    box-shadow: -12px 14px 5px 0px rgba(227,227,227,1);
    border-radius: 10px;
    background-color: #f9f9f9;
    h4 span{
      color: #489099 ;
      // border-radius: 12px;
      // margin-top: 8px;
    }


  .review-card {
    width: 600px;
    padding: 10px;

  }
  .review-icons-container {
    display: flex;
      float: right;
    i {
      display: d-flex;
      color: #74d5e0 ;
    }
  }
  }
}

.primary-button-user-show {
  font-family: $body-font;
  border-radius: 4px;
  background-color: #6ECAD6;
  border: none;
  color: white;
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.map-container {
  display: flex;
  justify-content: center;
  #map {
    border: solid;
    margin-top: 50px;
  }
}

.modal-content {
    min-width: 900px !important;
    margin: 30px auto !important;
}
