<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr" class="calendar_style"></script>

<div class="main-booking-container">
  <%= render 'shared/form', therapist: @therapist, booking: @booking %>
</div>


<style>
  .calendar-style {
    color: red;
  }
</style>


