<div class="banner">
  <div class="headers-text">
    <h1>THERAPY <font style="font-weight:bold; color:#6ECAD6">SESSIONS</font> MADE EASY</h1>
    <h2>Find a specialist, start your therapy and change your life - wherever you are</h2>
    <div class="main-button">
      <% if !user_signed_in? %>
        <%= link_to new_user_registration_path do %>
          <button type="submit" class="primary-button">Start Your Journey</button>
        <% end %>
      <% elsif user_signed_in? && current_user.therapist %>
        <%= link_to profile_path do %>
          <button type="submit" class="primary-button">My profile</button>
        <% end %>
      <% elsif user_signed_in? && !current_user.therapist %>
        <%= link_to users_path do %>
          <button type="submit" class="primary-button">Browse a therapist</button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="homepage-content" style=" background: #F5F5F5">
  <div class="max-width">
    <div class="card-container">
      <div id="card-dxp" class="card">
        <a href="#">
          <div id="card-content-dxp" class="card-content">
  <!--           dxp-icon -->
            <svg width="152" height="152" viewBox="0 0 152 152" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M7.95755 11.2392C19.6127 -5.10632 52.0194 -2.83215 69.502 12.9448C102.477 42.651 59.6947 115.851 19.6127 86.5707C18.6174 85.86 17.6225 85.1494 16.6276 84.2965C3.97757 73.3522 -6.25627 57.8594 4.54608 18.3459C5.25673 15.6454 6.53589 13.3712 7.95755 11.2392Z" transform="translate(44.9053 28.8799)" fill="#489099"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M27.0227 3.19277C60.7085 -10.5943 102.923 22.5231 70.0894 59.3361C62.4142 67.8642 50.4749 75.3973 38.6776 78.5243C30.1497 80.7984 21.6216 80.6563 14.9413 76.8186C-1.11998 67.8641 -5.09978 36.0259 7.26599 18.9697C12.9513 11.2944 19.7739 6.17758 27.0227 3.19277Z" transform="translate(25.8398 36.9268)" fill="#6ECAD6"/>
<path d="M51.0242 59.3361C83.8573 22.5231 41.6433 -10.5943 7.95728 3.19277C6.53594 5.3248 5.25672 7.59895 4.54605 10.2995C-6.25621 49.813 3.97751 65.3057 16.6275 76.2501C17.6225 77.1029 18.6174 77.8136 19.6123 78.5243C31.4095 75.3973 43.3489 67.8642 51.0242 59.3361Z" transform="translate(44.9053 36.9268)" fill="#6ECAD6"/>
</svg>
  <!--           dxp-icon-end -->
            <h3>Therapy At Your Fingertips</h3>
            <div class="cta-link-container">
              <p class="cta-link">Solutions for Every Audience<svg class="cta-icon" height="10" width="8"><use xlink:href="#caret"></use></svg></p>
            </div>
          </div>
  <!--           dxp-curve -->
            <svg id="dxp-curves" viewbox="0 0 336 154" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path id="dxp-more-blue" d="M 0,154 H 336 V 154 V 154 C 274,154 247,154 183,154 C 110,154 73,154 0,154 V 154 Z" fill="#489099"/>
              <path id="dxp-primary-blue" d="M 0,154 H 336 V 154 C 279,154 256,154 198,154 C 118,154 61,154 0,154 V 154 Z" fill="#6ECAD6"/>
          </svg>
        </a>
      </div>
      <div id="card-commerce" class="card">
        <a href="#">
          <div class="card-content">
            <svg width="152" height="152" viewBox="0 0 152 152" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M46.356 2.01169L74.2381 25.9106C77.6311 29.0086 78.0737 34.3194 74.9757 37.7125L42.2254 75.7737C40.7872 77.4995 38.7882 78.4542 36.7068 78.6377C36.3802 78.6944 36.0066 78.7242 35.5868 78.7242L10.6553 78.4291C7.55727 78.4291 4.45926 75.7737 4.01669 72.6757L0.205068 49.1001C-0.207905 46.4048 -0.14492 43.2965 1.80383 40.958L34.5542 2.89684C37.5046 -0.643731 42.8155 -0.938797 46.356 2.01169Z" transform="translate(15.4082 37.9551)" fill="#6ECAD6"/>
              <path d="M30.6914 76.5697L2.95687 52.6708C-0.58369 49.7203 -1.02627 44.4094 2.07172 40.8689L34.822 2.80767C36.7294 0.518867 39.2553 -0.0891669 42.3874 0.0101435L66.5397 0.152226C69.6377 0.152226 72.7357 2.80765 73.1782 5.90565L77.1614 30.5422C77.215 30.9176 77.2406 31.2606 77.2397 31.5697C77.3684 33.6874 76.7031 35.872 75.2436 37.6233L42.4933 75.6845C39.5428 79.2251 34.232 79.5201 30.6914 76.5697Z" transform="translate(59.5449 36.5693)" fill="#489099"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M20.6916 0L30.1018 8.06543C33.4943 11.1641 33.9367 16.4746 30.8391 19.8682L12.2619 41.458L2.95723 33.4404C-0.583788 30.4902 -1.02617 25.1787 2.07149 21.6387L20.6916 0Z" transform="translate(59.5449 55.7998)" fill="#489099"/>
            </svg>
            <h3>Group Therapy</h3>
            <div class="cta-link-container">
            <p class="cta-link">Anonymous Group Therapy<svg class="cta-icon" height="10" width="8"><use xlink:href="#caret"></use></svg></p>
            </div>
          </div>
  <!--           commerce-curve -->
            <svg id="commerce-curves" viewbox="0 0 336 162" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path id="commerce-more-blue" d="M 0,162 H 336 V 162 C 266,162 222,162 148,162 C 87,162 89,162 0,162 V 0 Z" fill="#489099"/>
              <path id="commerce-primary-blue" d="M 0,162 H 336 V 162 C 288,162 257,162 180,162 C 103,162 81,162 0,162 V 162 Z" fill="#6ECAD6"/>
          </svg>
        </a>
      </div>
      <div id="card-analytics-cloud" class="card">
        <a href="#">
          <div class="card-content">
            <svg width="152" height="152" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill="#fff" d="M0 0h152v152H0z"/>
              <path d="M95.25 25.84c2.765 0 5.07 2.156 5.07 4.743v90.834c0 2.587-2.305 4.743-5.07 4.743H62.83c-2.765 0-5.07-2.156-5.07-4.743V30.583c0-2.587 2.305-4.743 5.07-4.743h32.42z" fill="#6ECAD6"/>
              <path d="M64.85 77.52c2.765 0 5.07 2.251 5.07 4.954v38.731c0 2.703-2.305 4.955-5.07 4.955H32.43c-2.765 0-5.07-2.252-5.07-4.955V82.474c0-2.703 2.305-4.954 5.07-4.954h32.42zM125.65 50.16c2.765 0 5.07 2.168 5.07 4.768v66.464c0 2.6-2.304 4.768-5.07 4.768H93.23c-2.765 0-5.07-2.167-5.07-4.768V54.928c0-2.6 2.305-4.768 5.07-4.768h32.42z" fill="#489099"/>
              <path d="M57.916 77.522h6.86s5.144-.3 5.144 5.55v38.999s0 4.05-6.08 4.05c0 0-5.145.75-6.08-4.35V77.522h.156zM93.305 50.163s-5.145-.29-5.145 5.343V122.223s0 3.9 6.08 3.9c0 0 5.145.722 6.08-4.188V50.163h-7.015z" fill="#489099"/>
            </svg>
            <h3 class="a-c-span">Unlimited Apointments</h3>
            <div class="cta-link-container">
              <p class="cta-link">
Trial Run Unlimited Sessions<svg class="cta-icon" height="10" width="8"><use xlink:href="#caret"></use></svg></p>
            </div>
          </div>
  <!--           analytics-cloud-curve -->
            <svg id="analytics-cloud-curves" viewbox="0 0 336 149" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path id="analytics-cloud-more-blue" d="M 0,336 H 336 V 149 C 242,149 272,149 187,149 C 102,149 37,149 0,149 V 0 Z" fill="#489099"/>
              <path id="analytics-cloud-primary-blue" d="M 0,336 H 336 V 149 C 267,149 227,149 153,149 C 90,149 62,149 0,149 V 0 Z" fill="#6ECAD6"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</body>
</div>

<div class="home-middle">

  <div class="middle-left">
    <div class="middle-icons">
      <i class="fab fa-apple fa-3x"></i>
      <i class="fab fa-android fa-3x"></i>
      <i class="fas fa-desktop fa-3x"></i>
      <i class="fas fa-laptop fa-3x"></i>
    </div>
    <div class="middle-info">
      <h1>Meaningful therapy from every device</h1>
      <p>It can be difficult to wait days or weeks until your next appointment. With Talkspace, you can send your therapist a message whenever you’re near a laptop, tablet, or smartphone. Your conversation carries over seamlessly across devices and uses banking-grade encryption to keep it safe and confidential.</p>
      <div class="info-img">
        <img src="https://res.cloudinary.com/dnqrlagsz/image/upload/v1552405536/appstore_2.png" alt="">
        <img src="https://res.cloudinary.com/dnqrlagsz/image/upload/v1552405407/googleplay_1.png" alt="">
      </div>
    </div>
  </div>
    <div class="middle-img">
      <%= image_tag "devices.png" %>
    </div>
</div>

