.banner {
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)), asset-url("banner.jpg");
  // background-size: cover;
  // height: calc(100vh - 66px);
  // background-position: center;
  // display: flex;
  // align-items: center;
    background-size: cover;
    height: 100vh;
    color: #eee;
    padding-top: 40vh;
    // margin-top: -230px;
}
