.primary-button {
  font-family: $body-font;
  background-color: #489099;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px !important;
  &:hover, &:focus {
    background: #74d5e0 !important;
    text-decoration: none;
    color: white;
  }
}
.secondary-button {
  font-family: $body-font;
  background: #CCCCCC !important;
  border: none;
  color: white;
  padding: 8px 16px !important;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px !important;
  &:hover, &:focus {
    background: #55a9b2 !important;
    text-decoration: none;
    color: white;
  }
}
