.edit-profile-container {
  margin-top: 48px;
  display: flex;
  justify-content: space-around;

  .edit-profile-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 900px;
    border-radius: 8px;

    .edit-title {
      border-radius :8px 8px 0 0;
      display: flex;
      justify-content: space-around;
      font-weight: 700;
      padding: 32px 0;
      color: #FFFFFF;
      font-size: 24px;
      background-color: #6ECAD6;
      margin-bottom: 16px;
    }
    .edit-details {
      margin: 12px 26px;
      .names-box {
        display: flex;
        justify-content: space-between;
        .first-name-input {
          width: 48%;
        }
        .last-name-input {
          width: 48%;
        }
      }
      .inline-input {
        display: flex;
        justify-content: space-between;
        .email-current-password {
          width: 48%;
        }
        .current-password {
          width: 48%;
        }
      }
      .address {
      }
      .phone-gender-languages {
        display: flex;
        justify-content: space-between;
        .phone-gender {
          display: flex;
          flex-direction: column;
          width: 48%;
        }
        .languages {
          .languages-multiple-select{
            height: 121px;
          }
          width: 48%;
        }
      }
      .passwords {
        display: flex;
        justify-content: space-between;
        .password-change {
          width: 48%;
        }
        .password-confirmation {
          width: 48%;
        }
      }
      .form-actions {
        margin-bottom: 14px;
      }
      hr {
        margin-bottom: 24px;
      }
      .bottom-btn {
        display: flex;
        justify-content: space-between;

        .back {
          .secondary-button {
            padding: 14px 26px !important;
          }
        }
        .cancel {
          .secondary-button {
            background: #489099 !important;
            color: white;
            text-decoration: none !important;
            &:hover {
              background: #55a9b2 !important;
              text-decoration: none !important;
              color: white !important;
            }
          }
        }
      }
    }
  }
}

