.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease
}

.navbar-lewagon-white {
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  text-decoration: none;
  a {
    text-decoration: none;
  }
}

.fa-calendar-check {
  margin-right: 15px;
  margin-top: 15px;
  color: #7f7f7f;

  a {
    text-decoration: none;
  }
}

.fa-comment-alt {
  margin-right: 5px;
  margin-top: 8px;
}

.fa-bell {
  margin-top: 8px;
}

.fa-user {
  text-decoration: none;
}
