.profile-box {
  background: white;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 70px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  width: 900px;
}

.btn-primary {
  background-color: #6ECAD6;
  border: none;
}

.btn-secondary {
  background-color: #489099;
  border: none;
}
